.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  background-color: white;
  z-index: 100;
  width: 100%;
  top: 0;
  padding: 0;
}
.header__icon {
  object-fit: contain;
  height: 100px;
  margin-left: 20px;
}
.header__center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  max-width: fit-content;
  padding: 10px;
  height: 30px;
  border: 1px solid lightgray;
  border-radius: 999px;
}

@media (max-width: 700px) {
  .header__center {
    order: 3;
    margin: auto;
    margin-bottom: 6px;
  }
}

.header__center > input {
  border: none;
  padding: 10px;
  outline-width: 0;
  width: 250px;
}
.header__right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 15vw;
  margin-right: 80px;
}

@media (max-width: 700px) {
  .header__right {
    order: 2;
    width: 20vw;
    /* margin-right: 0;
    margin-left: auto; */
  }
}
